html, body{
    width:50%;
    margin:0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box{
    width: 200px;
}

#inputData{
    width:350;
    height:30px;
    border: 1px solid black;
    font-size: 18px;
    color: darkslategray;
    border-radius: 2px;
}

#addTo{
    width:100px;
    height: 30px;
    border: 1px solid black;
    font-size: 18px;
    padding: 2px;
    margin-top: 10px;
    vertical-align: middle;
    border-radius: 2px;
}

#sticker{
    margin-top: 20px;
}

.paragraph-styling{
    width: 100px;
    height: auto;
    font-size: 11px;
    color:rgb(22, 0, 0);
    background-color: rgb(238, 204, 94);
    max-width: 100%;
    word-wrap: break-word;
    padding: 7px;
    
}